@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  h1 {
    @apply text-4xl md:text-5xl font-black;
  }
  h2 {
    @apply text-3xl md:text-4xl font-bold;
  }
  h3 {
    @apply text-2xl md:text-3xl font-semibold;
  }
  h4 {
    @apply text-xl font-black;
  }
  p {
    @apply text-gray-600;
  }
}
